<!DOCTYPE html>
<html lang="ru">
	<head>
  		<meta charset="utf-8" name="viewport" content="user-scalable=no">
		<link rel="stylesheet" href="style.css" type="text/css"/>
		<title>Тест активности бота</title>
	</head>
	<body>
		<div class="botInfo">
			<a href="https://t.me/myHomeLightController_bot"><div class="botInfoIn">
				<div class="statRect" id="rectangle1" style="background-color: red;"></div>
				<h2 class="statText" id="statusText1">Дворецкий неактивен</h2>
			</div>
			<h2 class="date" id="date1">.</h2></a>
			<a href="https://t.me/testBot50057139_bot"><div class="botInfoIn">
				<div class="statRect" id="rectangle2" style="background-color: red;"></div>
				<h2 class="statText" id="statusText2">Метеоролог неактивен</h2>
			</div>
			<h2 class="date" id="date2">.</h2></a>
			<a href="https://t.me/jobController_bot"><div class="botInfoIn">
				<div class="statRect" id="rectangle3" style="background-color: red;"></div>
				<h2 class="statText" id="statusText3">Задачник неактивен</h2>
			</div>
			<h2 class="date" id="date3">.</h2></a>
			<a href="https://t.me/toxaWishList_bot"><div class="botInfoIn">
				<div class="statRect" id="rectangle4" style="background-color: red;"></div>
				<h2 class="statText" id="statusText4">Список желаний неактивен</h2>
			</div>
			<h2 class="date" id="date4">.</h2></a>
			<a href="https://spamigor.site:4011"><div class="botInfoIn">
				<div class="statRect" id="rectangle5" style="background-color: red;"></div>
				<h2 class="statText" id="statusText5">4011 неактивен</h2>
			</div>
			<h2 class="date" id="date5">.</h2></a>
			<a href="https://spamigor.site:4014"><div class="botInfoIn">
				<div class="statRect" id="rectangle6" style="background-color: red;"></div>
				<h2 class="statText" id="statusText6">4014 неактивен</h2>
			</div>
			<h2 class="date" id="date6">.</h2></a>
			<a href="https://spamigor.site:4014/1587"><div class="botInfoIn">
				<div class="statRect" id="rectangle7" style="background-color: red;"></div>
				<h2 class="statText" id="statusText7">4014/1587 неактивен</h2>
			</div>
			<h2 class="date" id="date7">.</h2></a>
		</div>
		<div class="funcElem">
			{{#if regWindow}}
				{{> authT}}
			{{/if}}
			{{#if userData}}
				{{> userDataT}}
			{{/if}}
		</div>
	</body>
</html>