			<div class="avtorithationPlace">
				<form name="register" id="register" method="post">
					<h3 class="avtHed">Привет, {{userLogin}}</h3>
				</form>
			</div>
			<div id="tokenPos">
				<h3 class="avtHed" id="tokenText">Токен, {{userToken}}</h3>
			</div>
			<div id="buttons">
				<button onclick="sendMessageToServer()" class="sysButton" id="restartButton" hidden>
					<p>ПЕРЕЗАГРУЗКА ДВОРЕЦКОГО</p>
				</button>
				<div id="inButt">
					<button onclick="sendRestart()" class="sysButton" id="lowRestartButton" hidden>
						<p>РЕСТАРТ ДВОРЕЦКОГО</p>
					</button>
					<button onclick="sendGitPull()" class="sysButton" id="gitPull" hidden>
						<p>GIT PULL</p>
					</button>
					<button onclick="sendGitPush()" class="sysButton" id="gitPush" hidden>
						<p>GIT PUSH</p>
					</button>
				</div>
			</div>
			<div id="cont"></div>
       
			<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
			<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
			<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
			<script type="text/babel">
				let boxMessage = [];			
				let root = ReactDOM.createRoot(document.getElementById("cont"));
				root.render( <MessageList messages={boxMessage} /> );
						
				let socket = new WebSocket("wss://spamigor.site:8080", 'echo-protocol');
				socket.onopen = function(e) {
					console.log('Соккет открыт');
					socket.send('us: hello');
				};
				socket.onclose = function(e) {
					console.log('соккет закрыт')
				};
				socket.onmessage = function(event) {
					if (event.data.substr(0,2)==='TM') console.log(event.data);
					if (event.data.substr(0,5) == 'date:') {
						let buf = JSON.parse(event.data.substr(6));
						for (let i=0; i<buf.length; i++) {
							let date = new Date(buf[i]);
							document.getElementById(`date${i+1}`).innerHTML=date.toLocaleString();	
						}						
					}
					else if (event.data == 'st: connect') {
						document.getElementById('rectangle1').style.backgroundColor='green';
						document.getElementById('statusText1').innerHTML='Дворецкий активен';
						document.getElementById('restartButton').hidden=false;
						document.getElementById('lowRestartButton').hidden=false;
						document.getElementById('gitPull').hidden=false;
						document.getElementById('gitPush').hidden=false;
					}
					else if (event.data == 'st: disconnect') {
						document.getElementById('rectangle1').style.backgroundColor='red';
						document.getElementById('statusText1').innerHTML='Дворецкий неактивен';
						document.getElementById('restartButton').hidden=true;
						document.getElementById('lowRestartButton').hidden=true;
						document.getElementById('gitPull').hidden=true;
						document.getElementById('gitPush').hidden=true;
					}
					else if (event.data == 'we: connect') {
						document.getElementById('rectangle2').style.backgroundColor='green';
						document.getElementById('statusText2').innerHTML='Метеоролог активен';
					}
					else if (event.data == 'we: disconnect') {
						document.getElementById('rectangle2').style.backgroundColor='red';
						document.getElementById('statusText2').innerHTML='Метеоролог неактивен';
					}
					else if (event.data == 'no: connect') {
						document.getElementById('rectangle3').style.backgroundColor='green';
						document.getElementById('statusText3').innerHTML='Задачник активен';
					}
					else if (event.data == 'no: disconnect') {
						document.getElementById('rectangle3').style.backgroundColor='red';
						document.getElementById('statusText3').innerHTML='Задачник неактивен';
					}
					else if (event.data == 'wi: connect') {
						document.getElementById('rectangle4').style.backgroundColor='green';
						document.getElementById('statusText4').innerHTML='Список желаний активен';
					}
					else if (event.data == 'wi: disconnect') {
						document.getElementById('rectangle4').style.backgroundColor='red';
						document.getElementById('statusText4').innerHTML='Список желаний неактивен';
					}
					else if (event.data == 's1: connect') {
						document.getElementById('rectangle5').style.backgroundColor='green';
						document.getElementById('statusText5').innerHTML='4011 активен';
					}
					else if (event.data == 's1: disconnect') {
						document.getElementById('rectangle5').style.backgroundColor='red';
						document.getElementById('statusText5').innerHTML='4011 неактивен';
					}
					else if (event.data == 's2: connect') {
						document.getElementById('rectangle6').style.backgroundColor='green';
						document.getElementById('statusText6').innerHTML='4014 активен';
					}
					else if (event.data == 's2: disconnect') {
						document.getElementById('rectangle6').style.backgroundColor='red';
						document.getElementById('statusText6').innerHTML='4014 неактивен';
					}
					else if (event.data == 's3: connect') {
						document.getElementById('rectangle7').style.backgroundColor='green';
						document.getElementById('statusText7').innerHTML='4014/1587 активен';
					}
					else if (event.data == 's3: disconnect') {
						document.getElementById('rectangle7').style.backgroundColor='red';
						document.getElementById('statusText7').innerHTML='4014/1587 неактивен';
					}
					else if (event.data.substr(0,2) === 'TM') {
						boxMessage.splice(0, 0, event.data.substr(4));
						root.render( <MessageList messages={boxMessage} /> );
						if (document.getElementById("messText").offsetHeight>400) document.getElementById("messText").scrollTop=document.getElementById("messText").scrollHeight;
					}
					else if (event.data.substr(0,2) === 'hi') {						
						boxMessage.splice(0, 0, event.data.substr(4));
						root.render( <MessageList messages={boxMessage} /> );
						if (document.getElementById("messText").offsetHeight>400) document.getElementById("messText").scrollTop=document.getElementById("messText").scrollHeight;
					}
					else if (event.data == 's4: connect') {
						document.getElementById('rectangle8').style.backgroundColor='green';
						document.getElementById('statusText8').innerHTML='Список покупок активен';
					}
					else if (event.data == 's4: disconnect') {
						document.getElementById('rectangle8').style.backgroundColor='red';
						document.getElementById('statusText8').innerHTML='Список покупок неактивен';
					}
				};
				
				function MessageList(props) {
					const messages = props.messages;
					const listItems = messages.map((message) =>
						<li key={message}>
							{message}
						</li>
					);
					return (
						<div class="messBox"><ul id="messText">{listItems}</ul></div>
					);
				}

				function sendMessageToServer() {
					socket.send('us: reboot')
				};

				function sendRestart() {
					socket.send('us: restart')
				};

				function sendGitPull() {
					socket.send('us: gitPull')
				};

				function sendGitPush() {
					socket.send('us: gitPush')
				};
			</script>